* {
	margin: 0px;
}

html {
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100%;
	display: flex;
}

#root {
	height: inherit;
    flex: 1;
	display: flex;
	flex-direction: column;
}

main {
    flex: 1;
}

