* {
	margin: 0px;
}

html {
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100%;
	
}

#root {
	height: inherit;
	display: flex;
	flex-direction: column;
}