footer {
	font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #222;
    margin-bottom: 0px;
    padding: 5px;
}

footer a {
    color: white;
   
}

i {
    transition: transform .2s;
}

i:hover {
    transform: scale(1.3);
   
}



