#game-main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

#game-img {
	width: 100%;
	user-select: none;
}

#drop-down {
	display: none;
}

#drop-down-inner {
	width: 10rem;
	margin-top: 0.5rem;
	border-radius: 5px;
	background-color: #222;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#drop-down-inner div {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.drop-img {
	width: 1.5rem;
	height: 1.5rem;
	max-width: 100%;
	object-fit: contain;
	display: block;
}

.tag {
	color: white;
	background-color: rgba(34, 34, 44, 0.8);
	border: 1px solid rgb(99, 101, 176);
	border-radius: 5px;
	padding: 5px 8px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
    
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
    padding-top: 50px;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
	background-color: #222;
    border-radius: 5px;
    color: white;
	margin: auto;
	width: 95%;
    height: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    align-items: center;
}

#time-p {
    font-size: 1.8em;
}

.modal-div {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid gray;
}

#input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}




.modal-div button {
    background-color: #222;
    border: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    cursor: pointer;
}

.modal-div button:hover {
    color: #CCCCCC;
}

#input {
    outline: none;
    background-color: #222;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 10px;
}



#leaderboard {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50%;
    border: 1px solid gray;
    overflow-y: auto;
    margin-top: 12px;
    border-radius: 5px;
}

#leaderboard p {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.leaderboard-div {
    display: flex;
    place-content: space-between;
    width: 80%;
    border-bottom: 1px solid gray;
    padding: 8px;
}

#form-div-outer {
    height: 100px;
}

#home-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #eb3d3d;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#home-link:hover {
    background-color: #B80A0A;
}

#thanks {
    display: none;
}

#try-again {
    display: none;
    position: fixed;
    top: 13%;
    color: white;
    font-family: "Roboto", sans-serif;
    background-color: rgb(34, 34, 44);
    height: 30px;
    align-items: center;
    justify-content: center;
    width: 275px;
    border-radius: 10px;
    z-index: 9;
}

#try-again-but {
    color: white;
    cursor: pointer;
    background-color: purple;
    width: 122.98px;
    height: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

#thanks-inner {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


@media (max-width: 500px) {
	.modal-content p {
        font-size: 1.3em;
    }
}

@media (max-width: 320px) {
	.modal-content p {
        font-size: 0.9em;
    }
}
